body{
    margin: 0;
    display: grid;
    grid-template-columns: 0.8fr 4fr;
    grid-template-rows: 1fr 4fr;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.dashboard{
    background-color: #38a3e0;
    grid-row:1/3;
    display: flex;
    flex-direction: column;
    padding: 20px;
    gap:50px;
}
.dashboard_top{
    display: flex;
    align-items: center;
    gap: 10px;
}
.dashboard_top img{
    height: 50px;
    width: 50px;
}
.dashboard_top h1{
    color: white;
    margin: 0;
}
.dashboard_middle, .dashboard_bottom{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    gap: 20px;
}
.dashboard_middle img, .dashboard_bottom img{
    height: 1.5rem;
    width: 1.5rem;
}
.dashboard_middle>div, .dashboard_bottom>div{
    display: flex;
    align-items: center;
    gap: 20px;
}
.dashboard_middle p, .dashboard_bottom p{
    color: white;
    font-size: 1.3rem;
    margin: 0;
    font-weight: 600;
}
header{
    display:grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 20px 60px;
    row-gap: 30px;
}
.header_search{
    display:flex;
    align-items: center;
    gap: 20px;
}
.header_search input{
    width: 90%;
    margin: 0;
    padding-left: 10px;
    padding-right: 10px;
    outline: none;
    background-color: #dce0e9;
    height: 2rem;
    border: 1px solid #dce0e9;
    border-radius: 20px;
    font-size: 1rem;
}
.header_search img, .header_user_info_top img{
    height: 2rem;
    width: 2rem;
}
.header_user_info_top{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.header_user_info_top img+img{
    height: 3rem;
    width: 3rem;
    border-radius: 50px;
}
.header_user_info_top p{
    font-size: 1.3rem;
    margin: 0;
    font-weight: bolder;
}
.header_user_info_bottom{
    display: flex;
    align-items: center;
    gap: 20px;
}
.header_user_info_bottom img{
    height: 5rem;
    width: 5rem;
    border-radius: 50px;
}
.header_user_info_bottom p{
    font-size: 1.6rem;
    font-weight: bolder;
    margin: 0;
}
.title {
    display: block;
    font-size: 1rem;
    padding-bottom: 5px;
}
.header_buttons{
    display: flex;
    align-items: center;
    gap: 50px;
}
.header_buttons button{
    background-color: #38a3e0;
    color: white;
    border:none;
    flex:1;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 50px;
    height: 3rem;
}

main{
    background-color: #dce0e9;
}